body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:1470px;
  height:440px;
}
#u2848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u2848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  line-height:20px;
}
#u2848_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u2849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:40px;
}
#u2849 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:0px;
  width:803px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u2849_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:799px;
  word-wrap:break-word;
}
#u2850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:40px;
}
#u2850 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:0px;
  width:531px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u2850_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:527px;
  word-wrap:break-word;
}
#u2851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u2851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:136px;
  height:40px;
  color:#A1A1A1;
  line-height:20px;
}
#u2851_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u2852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:40px;
}
#u2852 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:40px;
  width:803px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2852_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:799px;
  word-wrap:break-word;
}
#u2853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:40px;
}
#u2853 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:40px;
  width:531px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2853_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:527px;
  word-wrap:break-word;
}
#u2854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u2854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:136px;
  height:40px;
  color:#A1A1A1;
  line-height:20px;
}
#u2854_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u2855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:40px;
}
#u2855 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:80px;
  width:803px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2855_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:799px;
  word-wrap:break-word;
}
#u2856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:40px;
}
#u2856 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:80px;
  width:531px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2856_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:527px;
  word-wrap:break-word;
}
#u2857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u2857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:136px;
  height:40px;
  color:#A1A1A1;
  line-height:20px;
}
#u2857_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u2858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:40px;
}
#u2858 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:120px;
  width:803px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2858_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:799px;
  word-wrap:break-word;
}
#u2859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:40px;
}
#u2859 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:120px;
  width:531px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2859_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:527px;
  word-wrap:break-word;
}
#u2860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u2860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:136px;
  height:40px;
  color:#A1A1A1;
  line-height:20px;
}
#u2860_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u2861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:40px;
}
#u2861 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:160px;
  width:803px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2861_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:799px;
  word-wrap:break-word;
}
#u2862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:40px;
}
#u2862 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:160px;
  width:531px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2862_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:527px;
  word-wrap:break-word;
}
#u2863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u2863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:136px;
  height:40px;
  color:#A1A1A1;
  line-height:20px;
}
#u2863_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u2864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:40px;
}
#u2864 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:200px;
  width:803px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2864_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:799px;
  word-wrap:break-word;
}
#u2865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:40px;
}
#u2865 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:200px;
  width:531px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:527px;
  word-wrap:break-word;
}
#u2866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u2866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:136px;
  height:40px;
  color:#A1A1A1;
  line-height:20px;
}
#u2866_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u2867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:40px;
}
#u2867 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:240px;
  width:803px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2867_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:799px;
  word-wrap:break-word;
}
#u2868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:40px;
}
#u2868 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:240px;
  width:531px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2868_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:527px;
  word-wrap:break-word;
}
#u2869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u2869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:136px;
  height:40px;
  color:#A1A1A1;
  line-height:20px;
}
#u2869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u2870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:40px;
}
#u2870 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:280px;
  width:803px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2870_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:799px;
  word-wrap:break-word;
}
#u2871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:40px;
}
#u2871 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:280px;
  width:531px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2871_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:527px;
  word-wrap:break-word;
}
#u2872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u2872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:136px;
  height:40px;
  color:#A1A1A1;
  line-height:20px;
}
#u2872_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u2873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:40px;
}
#u2873 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:320px;
  width:803px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2873_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:799px;
  word-wrap:break-word;
}
#u2874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:40px;
}
#u2874 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:320px;
  width:531px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2874_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:527px;
  word-wrap:break-word;
}
#u2875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u2875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:136px;
  height:40px;
  color:#A1A1A1;
  line-height:20px;
}
#u2875_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u2876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:40px;
}
#u2876 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:360px;
  width:803px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2876_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:799px;
  word-wrap:break-word;
}
#u2877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:40px;
}
#u2877 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:360px;
  width:531px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2877_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:527px;
  word-wrap:break-word;
}
#u2878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
}
#u2878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:136px;
  height:40px;
  color:#A1A1A1;
  line-height:20px;
}
#u2878_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u2879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:40px;
}
#u2879 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:400px;
  width:803px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2879_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:799px;
  word-wrap:break-word;
}
#u2880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:40px;
}
#u2880 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:400px;
  width:531px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2880_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:527px;
  word-wrap:break-word;
}
#u2881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
}
#u2881 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:592px;
  width:35px;
  height:24px;
  color:#0066FF;
}
#u2881_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u2882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2882 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:596px;
  width:26px;
  height:16px;
}
#u2882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u2883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2883 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:596px;
  width:26px;
  height:16px;
}
#u2883_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u2884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2884 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:596px;
  width:26px;
  height:16px;
}
#u2884_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u2885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2885 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:596px;
  width:26px;
  height:16px;
}
#u2885_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u2886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2886 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:596px;
  width:26px;
  height:16px;
}
#u2886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u2887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2887 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:596px;
  width:26px;
  height:16px;
}
#u2887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u2888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2888 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:596px;
  width:26px;
  height:16px;
}
#u2888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u2889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2889 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:596px;
  width:26px;
  height:16px;
}
#u2889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u2890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u2890 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:596px;
  width:13px;
  height:16px;
}
#u2890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2891 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:588px;
  width:45px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2891_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u2892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2892 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:596px;
  width:178px;
  height:20px;
}
#u2892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u2893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1470px;
  height:36px;
}
#u2893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:1470px;
  height:36px;
}
#u2893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2894 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:24px;
  width:129px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u2895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
  line-height:14px;
}
#u2895 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:9px;
  width:16px;
  height:50px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
  line-height:14px;
}
#u2895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:16px;
  word-wrap:break-word;
}
#u2896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:38px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2896 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:67px;
  width:63px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2896_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:59px;
  word-wrap:break-word;
}
#u2897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:38px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFF00;
}
#u2897 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:67px;
  width:88px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFF00;
}
#u2897_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:84px;
  word-wrap:break-word;
}
#u2898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:38px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2898 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:67px;
  width:88px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:84px;
  word-wrap:break-word;
}
#u2899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2899 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:67px;
  width:176px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2899_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:172px;
  word-wrap:break-word;
}
