body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4193 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:136px;
  width:953px;
  height:437px;
}
#u4194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
}
#u4194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  line-height:20px;
}
#u4194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u4195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u4195 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:0px;
  width:139px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u4195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:135px;
  word-wrap:break-word;
}
#u4196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u4196 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:0px;
  width:135px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u4196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u4197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u4197 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:0px;
  width:132px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u4197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u4198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u4198 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:0px;
  width:173px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u4198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  word-wrap:break-word;
}
#u4199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u4199 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:0px;
  width:170px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u4199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
#u4200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u4200 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:0px;
  width:145px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u4200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u4201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
}
#u4201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:59px;
  height:40px;
  color:#A1A1A1;
  line-height:20px;
}
#u4201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u4202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u4202 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:40px;
  width:139px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:135px;
  word-wrap:break-word;
}
#u4203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u4203 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:40px;
  width:135px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u4204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u4204 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:40px;
  width:132px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u4205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u4205 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:40px;
  width:173px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  word-wrap:break-word;
}
#u4206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u4206 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:40px;
  width:170px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
#u4207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u4207 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:40px;
  width:145px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
}
#u4208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:59px;
  height:40px;
  color:#A1A1A1;
  line-height:20px;
}
#u4208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u4209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u4209 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:80px;
  width:139px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:135px;
  word-wrap:break-word;
}
#u4210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u4210 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:80px;
  width:135px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u4211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u4211 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:80px;
  width:132px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u4212 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:80px;
  width:173px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  word-wrap:break-word;
}
#u4213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u4213 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:80px;
  width:170px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
#u4214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u4214 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:80px;
  width:145px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u4215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:37px;
}
#u4215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:59px;
  height:37px;
  color:#A1A1A1;
  line-height:20px;
}
#u4215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u4216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:37px;
}
#u4216 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:120px;
  width:139px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u4217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:37px;
}
#u4217 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:120px;
  width:135px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u4218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:37px;
}
#u4218 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:120px;
  width:132px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u4219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:37px;
}
#u4219 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:120px;
  width:173px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u4220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:37px;
}
#u4220 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:120px;
  width:170px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u4221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u4221 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:120px;
  width:145px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u4222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
}
#u4222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:157px;
  width:59px;
  height:40px;
  color:#A1A1A1;
  line-height:20px;
}
#u4222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u4223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u4223 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:157px;
  width:139px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:135px;
  word-wrap:break-word;
}
#u4224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u4224 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:157px;
  width:135px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  word-wrap:break-word;
}
#u4225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u4225 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:157px;
  width:132px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u4226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u4226 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:157px;
  width:173px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  word-wrap:break-word;
}
#u4227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u4227 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:157px;
  width:170px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
#u4228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u4228 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:157px;
  width:145px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u4229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
}
#u4229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:197px;
  width:59px;
  height:40px;
  color:#A1A1A1;
  line-height:20px;
}
#u4229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u4230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u4230 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:197px;
  width:139px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u4231 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:197px;
  width:135px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u4232 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:197px;
  width:132px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u4233 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:197px;
  width:173px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u4234 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:197px;
  width:170px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u4235 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:197px;
  width:145px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
}
#u4236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:59px;
  height:40px;
  color:#A1A1A1;
  line-height:20px;
}
#u4236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u4237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u4237 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:237px;
  width:139px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u4238 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:237px;
  width:135px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u4239 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:237px;
  width:132px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u4240 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:237px;
  width:173px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u4241 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:237px;
  width:170px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u4242 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:237px;
  width:145px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
}
#u4243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:277px;
  width:59px;
  height:40px;
  color:#A1A1A1;
  line-height:20px;
}
#u4243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u4244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u4244 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:277px;
  width:139px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u4245 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:277px;
  width:135px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u4246 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:277px;
  width:132px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u4247 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:277px;
  width:173px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u4248 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:277px;
  width:170px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u4249 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:277px;
  width:145px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
}
#u4250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:317px;
  width:59px;
  height:40px;
  color:#A1A1A1;
  line-height:20px;
}
#u4250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u4251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u4251 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:317px;
  width:139px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u4252 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:317px;
  width:135px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u4253 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:317px;
  width:132px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u4254 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:317px;
  width:173px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u4255 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:317px;
  width:170px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u4256 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:317px;
  width:145px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
}
#u4257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:357px;
  width:59px;
  height:40px;
  color:#A1A1A1;
  line-height:20px;
}
#u4257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u4258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u4258 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:357px;
  width:139px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u4259 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:357px;
  width:135px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u4260 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:357px;
  width:132px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u4261 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:357px;
  width:173px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u4262 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:357px;
  width:170px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4262_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u4263 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:357px;
  width:145px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
}
#u4264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:397px;
  width:59px;
  height:40px;
  color:#A1A1A1;
  line-height:20px;
}
#u4264_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u4265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u4265 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:397px;
  width:139px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u4266 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:397px;
  width:135px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4266_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u4267 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:397px;
  width:132px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
}
#u4268 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:397px;
  width:173px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u4269 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:397px;
  width:170px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u4270 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:397px;
  width:145px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
}
#u4271 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:630px;
  width:24px;
  height:24px;
  color:#0066FF;
}
#u4271_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u4272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4272 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:634px;
  width:18px;
  height:16px;
}
#u4272_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u4273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4273 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:634px;
  width:18px;
  height:16px;
}
#u4273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u4274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4274 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:634px;
  width:18px;
  height:16px;
}
#u4274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u4275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4275 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:634px;
  width:18px;
  height:16px;
}
#u4275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u4276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4276 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:634px;
  width:18px;
  height:16px;
}
#u4276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u4277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4277 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:634px;
  width:18px;
  height:16px;
}
#u4277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u4278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4278 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:634px;
  width:18px;
  height:16px;
}
#u4278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u4279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4279 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:634px;
  width:18px;
  height:16px;
}
#u4279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u4280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u4280 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:634px;
  width:9px;
  height:16px;
}
#u4280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4281 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:634px;
  width:124px;
  height:20px;
}
#u4281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u4282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#0066CC;
}
#u4282 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:189px;
  width:27px;
  height:18px;
  font-size:13px;
  color:#0066CC;
}
#u4282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1470px;
  height:36px;
}
#u4283 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:26px;
  width:1470px;
  height:36px;
}
#u4283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4284 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:34px;
  width:267px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  white-space:nowrap;
}
#u4285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
  line-height:14px;
}
#u4285 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:19px;
  width:16px;
  height:50px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
  line-height:14px;
}
#u4285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:16px;
  word-wrap:break-word;
}
#u4286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:38px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4286 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:77px;
  width:63px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4286_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:59px;
  word-wrap:break-word;
}
#u4287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4287 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:77px;
  width:176px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4287_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:172px;
  word-wrap:break-word;
}
#u4288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:38px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFF00;
}
#u4288 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:77px;
  width:88px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFF00;
}
#u4288_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:84px;
  word-wrap:break-word;
}
